// Заголовки, загальні БЕМ блоки та інше...
// Шапка блоку;
.block-header {
  &__label {
    line-height: 156.25%; /* 25/16 */
    text-transform: capitalize;
  }
  &__title {
    color: $goldColor;
    text-transform: capitalize;
    font-family: "Italiana";
    font-size: toRem(48);
  }
  &__text {
    line-height: 25/16;
  }
  &__button {
  }
}
